@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&display=swap');

html
{
    font-family: 'Zilla Slab', serif;
}
h1
{
    color: lightskyblue;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}
h2,h3,h5
{
    color: darkgray;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}
#kozepkep
{
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#idezet
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.bored
{
    font-weight: bold;
}
#boredd
{
    background-color: lightgrey;
}

/*Szelektorok*/
#bej-body
{
    background-color: #f0f0f0;
}

.login-div
{
padding: 15px;
border: solid 1px #c0c0c0;
box-shadow: 0 0 2px #777777;
display: inline-block;
}
/* többszörösen összetett Szelektor*/
.login-div input /*login-div-en belüli inputra vonatkozik a szóköz miatt*/
{
    display: block;
    margin-bottom: 7px;
}

/*.login-div input[type="email"] /*attribútom jele:[]
{
    border: solid 1px blue;
}

.login-div input[type="password"]
{
    border: solid 1px red;
}
.login-div input[class*="red"] /* ^(ALT GR+3)-> Azzal kezdődik, hogy...; $ -> Azzal végződik, hogy... *->bárhol szerepelhet
{
    border: solid 1px yellowgreen;
}*/

/*Pszeudo-szelektor*/
