@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&display=swap');

body
{
    font-family: 'Zilla Slab', serif;
    margin: 0;
}
#notfelsomenu
{
    font-size: 15px;
}
h1,h2,h3,h4,h5,h6
{
    color: lightskyblue;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 0;
}
h2,h3,h4,h5,h6
{
    color: lightgrey;
    margin-top: 0;
}

#bt-alert
{
  text-align: center;
}

#kozepkep
{
    max-width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#motto{
  font-size: 90%;
}

/*Szelektorok*/

.login-div
{
padding: 25px;
border: solid 1px #c0c0c0;
box-shadow: 0 0 2px #777777;
display: inline-block;
text-align: center;
}
/* többszörösen összetett Szelektor*/
.login-div input /*login-div-en belüli inputra vonatkozik a szóköz miatt*/
{
    display: block;
    margin-bottom: 7px;
    margin: auto;
}

.login-div input[type="email"]
{
    border: solid 2px lightskyblue;
}

.login-div input[type="password"]{
    border: solid 2px lightgrey;
}

.login-div input[id="veznev"], .login-div input[id="knev"]
{
    border: solid 2px #00b7ff;
}